.ctxmenu {
  $b: &;

  position: relative;
  display: inline-block;

  &__menu {
    position: absolute;
    top: calc(100% + var(--space-s));
    min-width: 180px;
    background: var(--color-background);
    color: var(--color-foreground);
    border-radius: var(--border-radius-s);
    box-shadow: 0 var(--space-s) var(--space-l) color-mix(in srgb, var(--color-foreground), transparent 88%);
    padding: var(--space-xs);
    z-index: 2000;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    width: 100%;
    font-size: 1em;
    padding: var(--space-s) var(--space) var(--space-s) var(--space-s);
    background: transparent;
    border: 0;
    border-radius: var(--border-radius-xs);
    color: inherit;
    cursor: pointer;
    text-align: left;
    position: relative;

    &:disabled {
      opacity: .6;
      cursor: not-allowed;
    }

    &::before{
      content: ""; width: 100%; height: 100%; background-color: color-mix(in srgb, var(--color-primary), transparent 75%);
      display: block; position: absolute; left: 0; top: 0;
      border-radius: var(--border-radius-s);
      z-index: -1;
      transform: scale(.9, .5);
      opacity: 0;
      transition: all .3s var(--bezier);
    }
    &:hover{
      &::before{
      transform: scale(1, 1);
      opacity: 1;

    }
    #{$b}__icon{
      opacity: 1;
      color: color-mix(in srgb, var(--color-primary), var(--color-foreground) 25%);
    }
  }
  #{$b}__icon{
    opacity: .25;
  }

  }

  &__icon {
    display: inline-flex;
  }

  &__label {
    flex: 1;
  }
}
