.devtools {

  animation: devtools-in 200ms var(--bezier) both;

  display: flex;
  flex-direction: column; gap: var(--spacing);


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space);
  }

  &__title {
    font-weight: 700;
  }

  &__section {
    margin-bottom: var(--space);
  }

  &__section-title {
    font-weight: 600;
    margin-bottom: var(--space-s);
  }

  &__desc {
    font-size: .9rem;
    line-height: 1.35;
    opacity: .5;
    margin: -0.25rem 0 var(--space-s);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    margin-bottom: var(--space-s);
  }
}

@keyframes devtools-in {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
